@use '@portfolio/styles' as *;

.contact {
    @include flex-column-2;

    &__channels {
        display: flex;
        gap: 1rem;

        a {
            color: $primaryTextColor;
            margin: 3px;
        }
    }
}