@use '@portfolio/styles' as *;

.hero {
    height: 100vh;
    background-color: $primaryColor;
    background-image: url('/wave_w2881xh801_a775fc2518c0a6ca438299351b5d48a3faf59e7348ac4a6f5f88b3b68fd5a06a.webp');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    @include flex-column-2;
    justify-content: center;
    align-items: center;
    text-align: center;

    &__heading {
        color: $headerColor;

        h1 {
            @include font-size-huge;
            font-weight: $font-weight-semi-bold;
            margin: 0;
        }
    
        h3 {
            @include font-size-medium;
            font-weight: $font-weight-regular;
            margin-top: 0;
        }

        span {
            color: $secondaryColor;
        }
    }

    &__profile {
        border-radius: 50%;
        box-shadow: $box-shaddow;
    }

    .btn {
        color: $primaryColor;
        @include font-size-regular;
        font-weight: $font-weight-semi-bold;
        background: linear-gradient(to left, white 50%, #E7F2F8 50% ) right;  
        background-size: 200%;
        border-radius: 3rem;
        border: none;
        box-shadow: $box-shaddow;
        padding: 0.5rem 1rem;
        transition: 1s ease-out;
    
        &:hover {
            transform: scale(1.1);
            background-position: left;
            cursor: pointer;
        }
    }
}