/* COLORS */
$primaryTextColor: #E2E2E2;
$primaryBackgroundColor: #19747E;
$headerColor: #D1E8E2;
$secondaryColor: #A9D6E5;

$baseline: 16px;

/* MARGINS, PADDINGS, GAPS */
$padding-page: calc($baseline * 2); 

/* EFFECTS */
$shadow-navbar: 2px 2px 4px 2px rgba(169, 214, 229, 0.2);

/* RESPONSIVE */
$mobileBreakpoint: 30rem;
$tabletBreakpoint: 40rem;

/* HELPERS */
@mixin center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin pageWrapper {
    // max-width: 100vw;
    // height: 100vh;
    background-color: $primaryBackgroundColor;
    padding: $padding-page;
    // overflow: hidden;
}
