@use '@portfolio/styles' as *;

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.home-page {
    @include pageWrapper;
    position: relative;

    main {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: 3rem;

        .home-page__img {
            align-self: flex-end;

            & img {
                border-radius: 50%;
                width: 10rem;
                height: 10rem;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
                margin-top: 5rem;
                // box-shadow: 0 4px 8px rgba(169, 214, 229, 0.2);
            }
        }

        .home-page__heading {
            color: $headerColor;
            display: flex;
            flex-direction: column;
            
            h1 {
                font-size: 2.5rem;
                font-weight: 400;
                margin: 0;
            }

            h3 {
                font-size: 1.5rem;
                font-weight: 400;
                margin-top: 0;
            }

            span {
                color: $secondaryColor;
            }

        }
    }
}