@use '@portfolio/styles' as *;
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
    font-family: 'Quicksand', sans-serif;
}

* {
    @include reset;
}

body {
    scroll-behavior: smooth;

}

.main {
    margin: 4rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70vw;
    gap: 8rem;
}

.section {
    border-left: 8px solid #74BDCB;
    padding-left: 1rem;

    &__title {
        font-size: 1.8rem;
        color: #74BDCB;
        margin-bottom: 1rem;
    }

    p {
        font-size: 1.2rem;
        line-height: 130%;
        margin-bottom: 1rem;
        color: #444;
    }
}

.skillsSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
// .skillsColumn {
//     background-color: #f0f0f0;
//     padding: 20px;
//     border-radius: 8px;
//     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
//  }
  
.skillsColumn h2 {
    margin-bottom: 10px;
}