@use '@portfolio/styles' as *;

.skillsSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-left: $padding-large;

  &__title {
    font-weight: $font-weight-medium;
  }

  .skillsColumn {
    display: flex;
    gap: 2rem;

    .skillsSection__skills {
      color: $primaryTextColor;
      font-weight: $font-weight-semi-bold;
      line-height: 1.5em;
      margin-bottom: 1rem;
    }
  }
}

.section--projects {
  &__header {
    @media screen and (max-width: 1030px) {
      padding: 2rem;
    }

    h3 {
      display: flex;
      align-items: center;
      gap: 1rem;

      span {
        flex: 1;
        hr {
          background-color: $secondaryColor;
          height: 5px;
          border: none;
        }
      }
    }
  }

  &__desc {
    @include font-size-small;
    color: $primaryTextColor;
    font-weight: $font-weight-semi-bold;
    text-align: justify;
    padding: $padding-large;

    a {
      color: $headerColor;
    }
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: $padding-large;

    .projectCard {
      width: 25rem;
      height: 18rem;
      background-color: $headerColor;
      display: flex;
      flex-direction: column;
      border-radius: 0.6rem;
      box-shadow: $box-shaddow;
      padding: $padding-small;

      &:hover {
        box-shadow: $box-shaddow-large;
        cursor: pointer;
      }

      &__title {
        @include font-size-medium;
        color: $primaryTextColor;
        margin-top: 1rem;
      }

      &__desc {
        @include font-size-small;
        color: $primaryTextColor;
        font-weight: $font-weight-medium;
        text-align: justify;
        margin: 1rem 0 2rem 0;
      }

      &__tags {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        margin-top: auto;
      }
    }
  }
}
