@use '@portfolio/styles' as *;

.tag {
  @include font-size-tiny;
  color: $background-color;
  // font-size: 0.8rem;
  @include font-size-small;
  font-weight: $font-weight-medium;
  // background-color: #74bdcb;
  background-color: $secondaryColor;
  border-radius: 3rem;
  border: none;
  box-shadow: $box-shaddow;
  padding: 0.5rem 1rem;
}
