@use '@portfolio/styles' as *;

.tag {
    background-color: $tagColor;
    color: $headerColor;
    font-size: 0.8rem;
    font-weight: $font-weight-semi-bold;
    border-radius: 3rem;
    border: none;
    box-shadow: $box-shaddow;
    padding: 0.5rem 1rem;
}