@use "@portfolio/styles" as *;

.skillsSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-left: 2rem;

  &__title {
    font-weight: 500;
  }

  .skillsColumn {
    display: flex;
    gap: 2rem;

    .skillsSection__skills {
      color: #17252a;
      font-weight: 600;
      margin-bottom: 1rem;
      line-height: 1.5em;
    }
  }
}

.section--projects {
  &__header {
    h3 {
      display: flex;
      align-items: center;
      gap: 1rem;

      span {
        flex: 1;
        hr {
          height: 5px;
          background-color: #2b7a78;
          border: none;
        }
      }
    }
  }

  &__desc {
    color: #17252a;
    font-weight: 600;
    font-size: 1rem;
    text-align: justify;
    padding: 2rem;

    a {
      color: #feffff;
    }
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: $padding-large;

    .projectCard {
      width: 25rem;
      height: 18rem;
      display: flex;
      flex-direction: column;
      border-radius: 0.6rem;
      box-shadow: $box-shaddow;
      padding: $padding-small;
      background-color: #feffff;

      &:hover {
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 40%);
        cursor: pointer;
      }

      &__title {
        @include font-size-medium;
        color: #17252a;
        margin-top: 1rem;
      }

      &__desc {
        color: #17252a;
        @include font-size-small;
        font-weight: $font-weight-medium;
        margin-top: 1rem;
        margin-bottom: 2rem;
        text-align: justify;
      }

      &__tags {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        margin-top: auto;
      }
    }
  }
}
