@use '@portfolio/styles' as *;

.hamburgerMenu {
  display: none;

  &.open {
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    background-color: $textColor;
    padding: $padding-small;
  }

  &__links {
    @include flex-column-2;
    @include font-size-medium;
    font-weight: $font-weight-bold;
    letter-spacing: 0.1rem;
    padding: $padding-large;
    margin-top: 2rem;
    cursor: pointer;

    li a {
      color: $primaryColor;
      text-decoration: none;

      &.active {
        color: $background-color;
      }
    }
  }

  @media screen and (max-width: $tabletBreakpoint) {
    display: block;
  }
}
