@use '@portfolio/styles' as *;

.hamburgerMenu {
    display: none;

    @media screen and (max-width: $tabletBreakpoint) {
        display: block;
    }

    &.open {
        position: fixed;
        top: 0;
        left: 0;
        width: 70%;
        height: 100%;
        background-color: #EFE7BC;
        padding: 1rem;
    }
    
    &__links {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        font-size: 1.5rem;
        letter-spacing: 0.1rem;
        font-weight: 700;
        padding: $padding-page;
        margin-top: 2rem;
        cursor: pointer;
        
        li a {
            color: #74BDCB;
        }
    }
}
