@use '@portfolio/styles' as *;

.header {
    position: fixed;
    width: $width-full;
    background-color:  $primaryColor;
    box-shadow: $box-shaddow;
    display: flex;
    justify-content: flex-end;
    padding: $padding-small;

    @media screen and (max-width: $tabletBreakpoint) {
        justify-content: flex-start;
    }
}