@use '@portfolio/styles' as *;

.header {
  background-color: $background-color;
  border-bottom: 1px solid $secondaryColor;
  width: $width-full;
  position: fixed;
  top: 0;
  padding: $padding-small;
}
