@use '@portfolio/styles' as *;

.navbar {
    @media screen and (max-width: $tabletBreakpoint) {
        display: none;
    }

    &__links {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 2rem;
        font-size: 1.5rem;
        letter-spacing: 0.1rem;
        font-weight: 600;
        cursor: pointer;

        li a {
            color: #fff;
            transition: color 0.5s ease-in-out;
    
            &:hover {
                color: #EFE7BC; 
            }
        }
    }
}