@use '@portfolio/styles' as *;

.navbar {
  @media screen and (max-width: $tabletBreakpoint) {
    display: none;
  }

  &__links {
    @include font-size-medium;
    font-weight: $font-weight-semi-bold;
    letter-spacing: 0.1rem;
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    cursor: pointer;

    li a {
      color: $headerColor;
      transition: color 0.5s ease-in-out;

      &.active {
        // color: $primaryColor;
        color: #74bdcb;
      }

      &:hover {
        // color: $primaryColor;
        color: #74bdcb;
      }
    }
  }
}
