@use '@portfolio/styles' as *;

.navbar {
  &__links {
    @include font-size-medium;
    font-weight: $font-weight-semi-bold;
    letter-spacing: 0.1rem;
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    cursor: pointer;

    li a {
      color: $textColor;
      transition: color 0.5s ease-in-out;
      text-decoration: none;

      &.active {
        color: $secondaryColor;
      }

      &:hover {
        color: $secondaryColor;
      }
    }
  }
  @media screen and (max-width: $tabletBreakpoint) {
    display: none;
  }
}
