@use '@portfolio/styles' as *;

.contact {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.contact__channels {
    display: flex;
    gap: 1rem;
    a {
        margin: 3px;
        color: #444;
    }
}