@use '@portfolio/styles' as *;

.homeWrapper {
  &__profile {
    min-height: 100vh;
    padding: 8rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4rem;
    &__img {
      border-radius: 50%;
      box-shadow: $box-shaddow;
      width: 9rem;
      height: 9rem;
    }
    &__desc {
      @include font-size-large;
      font-weight: $font-weight-regular;
      align-self: flex-start;

      span {
        color: $secondaryColor;
      }

      h3 {
        @include font-size-medium;
      }
    }
  }

  @media (min-width: $tabletBreakpoint) {
    &__profile {
      padding: 13rem 8rem;
      flex-direction: row;
      align-items: center;

      &__img {
        width: 15rem;
        height: 15rem;
      }

      &__desc {
        align-self: center;
        font-size: 3rem;

        h3 {
          font-size: 1.9rem;
          text-align: end;
        }
      }
    }
  }
}
