@use '@portfolio/styles' as *;

* {
    @include reset;
}

body {
    scroll-behavior: smooth;

    .main {
        width: 50vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 8rem;
        margin: 4rem auto;

        .section {
            border-left: 8px solid $primaryColor;
            padding-left: $padding-small;
        
            &__title {
                color: $primaryColor;
                @include font-size-large;
                margin-bottom: 1rem;
            }
        
            p {
                color: $primaryTextColor;
                @include font-size-regular;
                margin-bottom: 1rem;
            }
        
            &--skills {
                width: 60%;
        
                .skillsSection {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 1rem;
                }
                
                .skillsColumn {
                    display: flex;
                    gap: 2rem;
                }
            }
        
            &--projects {
                a {
                    color: $primaryColor;
                    font-weight: $font-weight-semi-bold;
                }
        
                &__container {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    gap: 2rem;
                    padding: $padding-large;
        
                    .projectCard {
                        width: 25rem;
                        display: flex;
                        flex-direction: column;
                        border-radius: 0.6rem;
                        box-shadow: $box-shaddow;
                        padding: $padding-small;
        
                        &:hover {
                            cursor: pointer;
                        }
        
                        &__img {
                            width: 350px;
                            height: 180px;
                            border-radius: 0.6rem;
                            box-shadow: $box-shaddow;
                            margin-bottom: 8px;
                        }
        
                        &__title {
                            @include font-size-medium;
                            color: $primaryColor;
                        }
        
                        &__desc {
                            color: $primaryTextColor;
                            @include font-size-small;
                            font-weight: $font-weight-medium;
                            margin: 1rem 0;
                        }
        
                        &__tags {
                            display: flex;
                            flex-wrap: wrap;
                            gap: 0.5rem;
                            margin-top: 1.9rem;
                        }
                    }
                }
            }
        }

    }

}


