@use '@portfolio/styles' as *;

* {
  @include reset;
}

body {
  background-color: $primaryColor;
  scroll-behavior: smooth;

  .main {
    max-width: 62.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8rem;
    margin: 15rem auto;

    .section {
      border: 8px solid $secondaryColor;
      padding: $padding-large;

      &__title {
        @include font-size-large;
        color: $headerColor;
        font-weight: $font-weight-bold;
        margin-bottom: 2rem;
      }

      &--about {
        .section__content {
          display: flex;
          align-items: flex-start;
          gap: 8rem;

          p {
            @include font-size-small;
            color: $primaryTextColor;
            font-weight: $font-weight-semi-bold;
            text-align: justify;
            margin-bottom: 1rem;
          }

          &--right {
            @include flex-column-2;

            &__skills {
              ul {
                @include font-size-small;
                font-weight: $font-weight-semi-bold;
                display: flex;
                flex-direction: column;
                gap: 1rem;

                li {
                  text-transform: capitalize;
                  text-indent: 0.6rem;

                  &::before {
                    content: '\00BB';
                    color: $headerColor;
                  }

                  span {
                    position: relative;
                    left: 1rem;
                  }
                }
              }
            }
          }
          &--cv {
            display: flex;
            text-align: center;
            gap: 1rem;
            margin-top: 2.5rem;

            p {
              @include font-size-small;
              color: $headerColor;
              font-weight: $font-weight-bold;
              align-self: flex-end;
            }
          }
        }
      }
    }
  }
}
