@use "@portfolio/styles" as *;

* {
  @include reset;
}

body {
  scroll-behavior: smooth;
  background-color: #3aafa9;

  .main {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8rem;
    margin: 15rem auto;

    .section {
      border: 8px solid #2b7a78;
      padding: $padding-large;

      &__title {
        color: #feffff;
        @include font-size-large;
        font-weight: $font-weight-bold;
        margin-bottom: 2rem;
      }

      &--about {
        .section__content {
          display: flex;
          align-items: flex-start;
          gap: 8rem;

          p {
            color: #17252a;
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 1rem;
            line-height: 1.5em;
            text-align: justify;
          }

          &--right {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            &__skills {
              ul {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                font-size: 16px;
                font-weight: 600;

                li {
                  text-transform: capitalize;
                  text-indent: 10px;

                  &::before {
                    content: "\00BB";
                    color: #feffff;
                  }

                  span {
                    position: relative;
                    left: 1rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
